 .u-section-1 {
  background-image: none;
  min-height: 770px;
}

.u-section-1 .u-image-1 {
  height: 770px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 50%;
} .u-section-2 {
  background-image: none;
  min-height: 1300px;
}

.u-section-2 .u-image-1 {
  height: 1310px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 66px;
  margin: -1262px auto 0;
}

.u-section-2 .u-image-3 {
  width: 255px;
  height: 66px;
  margin: 433px auto 0;
}

.u-section-2 .u-image-4 {
  width: 245px;
  height: 350px;
  margin: -466px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-5 {
  width: 245px;
  height: 350px;
  margin: -350px auto 0 calc(((100% - 1140px) / 2) + 295px);
}

.u-section-2 .u-image-6 {
  width: 245px;
  height: 350px;
  margin: -350px calc(((100% - 1140px) / 2) + 295px) 0 auto;
}

.u-section-2 .u-image-7 {
  width: 245px;
  height: 350px;
  margin: -350px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-image-8 {
  width: 194px;
  height: 73px;
  margin: 149px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 14px 124px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1450px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 397px;
  }

  .u-section-2 .u-image-4 {
    width: 210px;
    height: 300px;
    margin-top: -430px;
    margin-left: 50px;
  }

  .u-section-2 .u-image-5 {
    width: 210px;
    height: 300px;
    margin-top: -300px;
    margin-left: 287px;
  }

  .u-section-2 .u-image-6 {
    width: 210px;
    height: 300px;
    margin-top: -300px;
    margin-right: auto;
    margin-left: 543px;
  }

  .u-section-2 .u-image-7 {
    width: 210px;
    height: 300px;
    margin-top: -300px;
    margin-right: auto;
    margin-left: 780px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 209px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1650px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 805px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -827px;
    margin-left: 108px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 468px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 39px;
    margin-left: calc(((100% - 720px) / 2) + 58px);
  }

  .u-section-2 .u-image-7 {
    margin-right: calc(((100% - 720px) / 2) + 58px);
    margin-left: 510px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 115px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 11px;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1456px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 62px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 704px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -737px;
    margin-left: calc(((100% - 540px) / 2) + 30px);
  }

  .u-section-2 .u-image-5 {
    margin-left: 350px;
  }

  .u-section-2 .u-image-6 {
    width: 209px;
    margin-top: 23px;
    margin-left: calc(((100% - 540px) / 2) + 30px);
  }

  .u-section-2 .u-image-7 {
    margin-right: calc(((100% - 540px) / 2) + 30px);
    margin-left: 330px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 196px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-top: 33px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1200px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 39px;
    margin-top: -1158px;
  }

  .u-section-2 .u-image-3 {
    width: 189px;
    height: 49px;
    margin-top: 491px;
  }

  .u-section-2 .u-image-4 {
    width: 140px;
    height: 200px;
    margin-top: -512px;
    margin-left: 50px;
  }

  .u-section-2 .u-image-5 {
    width: 140px;
    height: 200px;
    margin-top: -200px;
    margin-left: 250px;
  }

  .u-section-2 .u-image-6 {
    width: 140px;
    height: 200px;
    margin-top: 28px;
    margin-left: 50px;
  }

  .u-section-2 .u-image-7 {
    width: 140px;
    height: 200px;
    margin-top: -200px;
    margin-right: auto;
    margin-left: 250px;
  }

  .u-section-2 .u-image-8 {
    width: 138px;
    height: 52px;
    margin-top: 144px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    width: 340px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }
}